body{
	background-color: red !important;
}
.flat .ui,
.flat .ui *{
	border-radius: 0px !important;
}

.flat .item.menu .item,
.flat .segment,
.flat .card {
	-webkit-box-shadow: 0 4px 8px -8px #444 !important;
	box-shadow: 0 4px 8px -8px #444 !important;
	border-radius: 0px !important;
	border: none;
	transition: 0.5s box-shadow ease-in-out;
}

.flat .card .image,
.flat .card img{
	border-radius: 0px !important;
}

.flat .card:hover{
	-webkit-box-shadow: 0 10px 8px -8px #AAA !important;
	box-shadow: 0 10px 8px -8px #AAA !important;
	border-radius: 0px;
}

.flat .button,
.flat.button{
	border-radius: 0px;
}