  <!-- Following Menu -->
  <div class="ui large top fixed hidden menu flat">
    <div class="ui container">
      <a gref="#" class="class item">Home</a>
      <a gref="#" class="item">Gallery</a>
      <a gref="#" class="item">News</a>
      <a gref="#" class="item">Events</a>
      <a gref="#" class="item">Places</a>
      <a gref="#" class="item">Shops</a>
      <a gref="#" class="item">Contributors</a>
      <a gref="#" class="item">Classifieds</a>
      <a gref="#" class="item">About</a>
      <div class="right menu">
        <div class="item">
          <a class="ui button">Log in</a>
        </div>
        <div class="item">
          <a class="ui primary button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>