  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu flat">
    <a gref="#" class="class item">Home</a>
    <a gref="#" class="item">Gallery</a>
    <a gref="#" class="item">News</a>
    <a gref="#" class="item">Events</a>
    <a gref="#" class="item">Places</a>
    <a gref="#" class="item">Shops</a>
    <a gref="#" class="item">Contributors</a>
    <a gref="#" class="item">Classifieds</a>
    <a gref="#" class="item">About</a>
  </div>